@model User

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MeetHub</title>


    @{
        Layout = null;
    }

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/mystyles.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            background-image: url('/images/fondoprueba.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: #e7e9ec;
        }
    </style>
</head>

<body>

    <div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="register-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: #e7e9ec;">
                <form id="register-form" class="needs-validation w-100" novalidate asp-action="Register" method="post">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="register-modal-label">Regístrate</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="p-2 rounded-3 mb-3">
                            <div class="form-floating mb-3">
                                <input asp-for="Nombre" type="text" class="form-control" id="nombre-input-register"
                                    placeholder="Nombre" required name="nombre">
                                <label for="nombre-input-register">Nombre</label>
                                <div class="invalid-feedback">
                                    Campo vacío.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Apellidos" type="text" class="form-control"
                                    id="apellidos-input-register" placeholder="Apellidos" required name="apellidos">
                                <label for="apellidos-input-register">Apellidos</label>
                                <div class="invalid-feedback">
                                    Campo vacío.
                                </div>
                            </div>

                            <div class="form-floating">
                                <input asp-for="Email" type="email" id="email-input-register"
                                    class="form-control mt-2 rounded-3 border-0" aria-describedby="emailHelp"
                                    placeholder="Correo electrónico" required name="email">
                                <label for="email-input-register">Correo electrónico</label>
                                <div class="invalid-feedback">
                                    Introduce un correo válido.
                                </div>
                            </div>
                        </div>
                        <div class="p-2 rounded-3">
                            <div class="form-floating mb-3">
                                <div class="input-group w-100 gap-2">
                                    <input asp-for="Password" type="password" id="password" name="password"
                                        class="form-control rounded-3 border-0" aria-labelledby="passwordHelpBlock"
                                        placeholder="Contraseña" required>
                                    <span class="input-group-text input-group-append bg-transparent border-0"
                                        id="show-password">
                                        <i class="far fa-eye-slash position-absolute end-0 me-1"></i>
                                    </span>
                                    <div class="invalid-feedback">
                                        Campo vacío.
                                    </div>
                                </div>
                            </div>

                            <div class="form-floating">
                                <div class="mt-2 input-group w-100 gap-2">
                                    <input type="password" id="password-repeat" name="password-repeat"
                                        class="form-control rounded-3 border-0" aria-labelledby="passwordHelpBlock"
                                        placeholder="Repetir contraseña" required data-bs-match="#password">
                                    <div class="invalid-feedback error-container">
                                        La contraseña debe coincidir
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary me-auto"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary ms-auto">Registrarse</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <div class="h-100 w-100">
        <div class="row h-100 m-0">
            <div class="col-md-4 col-lg-4 col-1 h-100"></div>
            <div class="col-md-4 col-lg-4 col-10 h-100 d-flex align-items-center justify-content-center">
                <div class="h-50 d-flex flex-column justify-content-center" style="max-width: 20rem; min-width: 15rem;">
                    <img src="~/images/logo.png" class="img-fluid">
                    <label class="form-label mt-5 fs-5 text-start">Bienvenido</label>

                    <form id="login-form" class="needs-validation" novalidate asp-action="Login" method="post">
                        <input asp-for="Email" type="email" id="validationCustom03"
                            class="form-control mt-2 rounded-3 border-0" aria-describedby="emailHelp"
                            placeholder="Correo electrónico" required name="email">
                        <div class="invalid-feedback">
                            Introduce un correo válido.
                        </div>

                        <div class="mt-2 input-group w-100 gap-2">
                            <input asp-for="Password" type="password" id="password" name="password"
                                class="form-control rounded-3 border-0" aria-labelledby="passwordHelpBlock"
                                placeholder="Contraseña" required>
                            <span class="input-group-text input-group-append m-1" id="show-password">
                                <i class="far fa-eye-slash position-absolute end-0 me-1"></i>
                            </span>
                            <div class="invalid-feedback">
                                Campo vacío.
                            </div>
                        </div>

                        @* <div class="mt-2 input-group w-100">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="MantenerSesion"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Mantener sesión iniciada
                                </label>
                            </div>
                        </div> *@

                        <div class="d-flex flex-column align-items-center">
                            <button type="submit" class="btn btn-primary mt-4 rounded-4 border-0 w-75">Entrar</button>
                        </div>
                    </form>

                    <div class="d-flex flex-column align-items-center mt-3">
                        <p class="fs-6 fst-italic text-end mt-1">¿No tienes cuenta?
                            <a class="link-offset-2 link-underline link-danger link-underline-opacity-0" href="#"
                                data-bs-toggle="modal" data-bs-target="#register-modal">Regístrate</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-1 h-100"></div>
        </div>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="errorModalLabel">Alerta de inicio de sesión</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @TempData["MensajeError"]
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- CUSTOM JS -->
    @if (TempData["MensajeError"] != null)
    {
        <script>
            function deleteTempData(key) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteTempData", "User")",
                    data: { key: key },
                    success: function () { },
                    error: function () { }
                });
            }

            $(document).ready(function () {
                $('#errorModal').modal('show');
                deleteTempData("MensajeError");
            });
        </script>
    }
    <script>
        $(document).ready(() => {
            $('#login-form #show-password').click(function () {
                var passwordField = $('#login-form #password');
                var passwordFieldType = passwordField.attr('type');
                if (passwordFieldType == 'password') {
                    passwordField.attr('type', 'text');
                    $('#login-form #show-password i').removeClass('far fa-eye-slash').addClass('far fa-eye');
                } else {
                    passwordField.attr('type', 'password');
                    $('#login-form #show-password i').removeClass('far fa-eye').addClass('far fa-eye-slash');
                }
            });

            $('#register-form #show-password').click(function () {
                var passwordField = $('#register-form #password');
                var passwordFieldType = passwordField.attr('type');
                if (passwordFieldType == 'password') {
                    passwordField.attr('type', 'text');
                    $('#register-form #show-password i').removeClass('far fa-eye-slash').addClass('far fa-eye');
                } else {
                    passwordField.attr('type', 'password');
                    $('#register-form #show-password i').removeClass('far fa-eye').addClass('far fa-eye-slash');
                }
            });

            $('#password-repeat, #password').on('input', function () {
                var password = $('#password').val();
                var confirmPassword = $('#password-repeat').val();
                var errorContainer = $('.error-container');

                if (password !== confirmPassword) {
                    errorContainer.text('La contraseña debe coincidir.');
                    $('#password-repeat').addClass('is-invalid');
                } else {
                    errorContainer.text('');
                    $('#password-repeat').removeClass('is-invalid');
                }
            });
        });
    </script>
    <script>
        $(document).ready(() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
        });
    </script>

</body>

</html>