<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MeetHub</title>

    @{
        Layout = null;
    }

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/mystyles.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            background-image: url('/images/fondoprueba.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: #e7e9ec;
        }

        #assistant-form label {
            color: #ababab;
        }
    </style>
</head>

<body class="vh-100">
    <div class="h-100 w-100 justify-content-center align-items-center flex-column d-flex py-5 px-3">
        <div class="p-4 d-flex rounded-5 bg-light align-items-center justify-content-center text-center"
            style="height: fit-content;">
            <span class="fw-bold fs-2 text-success me-3">Te has registrado al evento correctamente.</span>
            <i class="bi bi-check-circle text-success" style="font-size: 50px;"></i>
        </div>
        <div class="d-flex mt-3">
            <a href="@Url.Action("GeneratePDF", "AssistantForm", new { id = ViewBag.EventId })" target="_blank" class="btn btn-primary">Descargar Entrada PDF</a>
        </div>
        <span class="text-secondary fw-bold mt-3">Ya puedes cerrar esta ventana.</span>
    </div>

    <!-- SCRIPTS -->
    <script src="~/lib/fontawesome/fontawesome.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/myscripts.js"></script>

</body>

</html>