#login-form .input-group-text {
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.1s;
    user-select: none;
}

/* .input-group-text i:hover {
    transform: scale(1.1);
} */

#login-form .input-group-text i {
    font-size: 1rem;
    width: 20px;
    height: 16px;
}

/* @media (min-width: 625px) {
    .content-home {
        width: calc(100% - 5rem);
        height: 100%;
    }
} */

@media (max-width: 624px) {
    .content-home {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    #create-modal .modal-dialog {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
}

.boton-menu svg.bi {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.event-card {
    max-width: 30rem;
    min-width: 30rem;
}

@media (min-width: 1200px) {
    .col-lg-6-modify {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .event-container {
        width: 1120px;
    }
}

@media (max-width: 1199px) {
    .event-container {
        width: 512px;
    }
}

@media (max-width: 1000px) {
    .eventview-container {
        flex-direction: column;
        align-items: center !important;
        justify-content: flex-start !important;
    }

    .spacer {
        display: none !important;
    }
}

@media (min-width: 1001px) {
    .eventview-container {
        flex-direction: row;
        align-items: flex-start !important;
        justify-content: center !important;
    }

    .spacer {
        display: flex !important;
    }
}

@media (min-width: 640px) {

    .info-event-container,
    .list-assistants-container {
        width: 600px;
    }

    .my-flex-sm-row {
        flex-direction: row !important;
    }
}

@media (max-width: 639px) {

    .info-event-container,
    .list-assistants-container {
        width: 100%;
    }

    .my-flex-sm-row {
        flex-direction: column !important;
    }
}

.circle-button {
    width: 35px;
    height: 35px;
}

.event-card-icon {
    font-size: 20px;
}

.event-container-element {
    max-width: 64rem;
    overflow: auto;
}

.event-container-header {
    max-width: 64rem;
}

.search-bar-input {
    font-family: Helvetica, FontAwesome;
    max-width: 20rem;
}

.d-flex-notimportant {
    display: flex;
}

.event-card-container.full-width {
    width: 100% !important;
}

.mb-1-custom {
    margin-bottom: 0.1rem;
}

.container-numero-aforomax {
    width: 60%;
}

.modal .form-check.form-switch {
    height: 58px;
}

.collapse-horizontal {
    transition: width 0.3s ease-in-out;
}

.label-input-file {
    pointer-events: none;
}

#create-modal #inscripcion-input.was-validated.form-control:valid,
#create-modal #invitacion-input.was-validated.form-control:valid {
    background-position: top 5px;
    padding-right: 0;
}

@media (min-width: 576px) {
    .fechas-container div {
        width: 225px;
        max-width: 225px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0b5ed7;
    border-radius: 1.5rem;
    cursor: grab;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 1.5rem;
}

.btn-custom {
    background-color: #ff9d46 !important;
    border-color: #ff9d46 !important;
}

.btn-custom:hover {
    background-color: #e0883b !important;
    border-color: #e0883b !important;
}

.logout-container {
    bottom: 0;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}

.event-link:hover {}

#spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

#copy-button,
#copy-button * {
    cursor: pointer;
}

.slide-top:hover {
    animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-top {
    animation: slide-top-reverse 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes slide-top-reverse {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.confirm-container button:disabled {
    border: none;
    color: #8f8f8f;
}

.rotate-diagonal-1 {
    animation: rotate-diagonal-1 0.4s linear both;
}

@keyframes rotate-diagonal-1 {
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
    }

    50% {
        transform: rotate3d(1, 1, 0, -180deg);
    }

    100% {
        transform: rotate3d(1, 1, 0, -360deg);
    }
}

.confirm-container button:not(:disabled):hover{
    background-color: #e7e7e7 !important;
}